In [51]:
import pandas as pd

In [ ]:
'''
Adding
* df["new_column"] = value or list/array --> adds a new column to the DataFrame with the specified value or list/array
* df.insert(loc, 'new_column', value) --> inserts a new column at the specified location (loc) in the DataFrame
* df['new_column'] = df['existing_column'] * 2 --> creates a new column by performing operations on existing columns

'''

In [52]:
Data = {
    'Name': ['John', 'Anna', 'Peter', 'Linda'],
    'Age': [28, 24, 35, 32],
    'City': ['New York', 'Paris', 'Berlin', 'London']
}
df = pd.DataFrame(Data)
print("Original DataFrame :\n\n", df)
df["salary"] = [50000, 60000, 55000, 65000]  # Adding a new column 'salary'
print("\nnew dataframe :\n\n",df)

df["bonus_salary"] = df['salary'] + df['salary'] * 0.1
print("\nnew dataframe after bonus salary:\n\n",df)

df.insert(2, 'Country', ['USA', 'France', 'Germany', 'UK'])  # Inserting a new column 'Country' at index 2
print("\nnew dataframe after inserting country:\n\n",df)

Original DataFrame :

     Name  Age      City
0   John   28  New York
1   Anna   24     Paris
2  Peter   35    Berlin
3  Linda   32    London

new dataframe :

     Name  Age      City  salary
0   John   28  New York   50000
1   Anna   24     Paris   60000
2  Peter   35    Berlin   55000
3  Linda   32    London   65000

new dataframe after bonus salary:

     Name  Age      City  salary  bonus_salary
0   John   28  New York   50000       55000.0
1   Anna   24     Paris   60000       66000.0
2  Peter   35    Berlin   55000       60500.0
3  Linda   32    London   65000       71500.0

new dataframe after inserting country:

     Name  Age  Country      City  salary  bonus_salary
0   John   28      USA  New York   50000       55000.0
1   Anna   24   France     Paris   60000       66000.0
2  Peter   35  Germany    Berlin   55000       60500.0
3  Linda   32       UK    London   65000       71500.0

In [ ]:
'''
Updating or modifying a column
* df.loc[index, 'column_name'] = new_value --> updates the value at the specified index for the given column
* df['column_name'] = df['column_name'] * 2 (or any other operation) --> modifies the entire column based on an operation

'''

In [53]:
print("DataFrame before modification:\n\n",df)
df.loc[1, 'Age'] = 25  # Updating the age of Anna to 25
print("\nDataFrame after modification:\n\n",df)

DataFrame before modification:

     Name  Age  Country      City  salary  bonus_salary
0   John   28      USA  New York   50000       55000.0
1   Anna   24   France     Paris   60000       66000.0
2  Peter   35  Germany    Berlin   55000       60500.0
3  Linda   32       UK    London   65000       71500.0

DataFrame after modification:

     Name  Age  Country      City  salary  bonus_salary
0   John   28      USA  New York   50000       55000.0
1   Anna   25   France     Paris   60000       66000.0
2  Peter   35  Germany    Berlin   55000       60500.0
3  Linda   32       UK    London   65000       71500.0

In [54]:
df['salary'] = df['salary'] * 1.05  # Increasing all salaries by 5%
print("\nDataFrame after increasing salaries by 5%:\n\n",df)

DataFrame after increasing salaries by 5%:

     Name  Age  Country      City   salary  bonus_salary
0   John   28      USA  New York  52500.0       55000.0
1   Anna   25   France     Paris  63000.0       66000.0
2  Peter   35  Germany    Berlin  57750.0       60500.0
3  Linda   32       UK    London  68250.0       71500.0

In [ ]:
''' 
Removing
* df.drop(columns =['column_name','column_name'], inplace=True) --> removes the specified columns from the DataFrame, inplace=True modifies the original DataFrame else returns a new DataFrame

'''

In [55]:
print("\nColumns in DataFrame:\n", df.columns)
df['bonus_salary'] = [5000, 6600, 6050, 7150]
print("\nDataFrame before dropping 'bonus_salary' column:\n\n",df)
df.drop(columns=['bonus_salary'], inplace=True)  # Removing the 'bonus_salary' column permanently
print("\n\nafter the deletion of bonus_salary:\n\n",df)

Columns in DataFrame:
 Index(['Name', 'Age', 'Country', 'City', 'salary', 'bonus_salary'], dtype='object')

DataFrame before dropping 'bonus_salary' column:

     Name  Age  Country      City   salary  bonus_salary
0   John   28      USA  New York  52500.0          5000
1   Anna   25   France     Paris  63000.0          6600
2  Peter   35  Germany    Berlin  57750.0          6050
3  Linda   32       UK    London  68250.0          7150


after the deletion of bonus_salary:

     Name  Age  Country      City   salary
0   John   28      USA  New York  52500.0
1   Anna   25   France     Paris  63000.0
2  Peter   35  Germany    Berlin  57750.0
3  Linda   32       UK    London  68250.0

In [ ]:
''' 
Detection of Missing Data
* df.isnull() --> returns a DataFrame of the same shape indicating whether each element is null (NaN), None for object types
True if the value is missing, False if present
* df.isnull().sum() --> returns the count of missing values in each column

'''

In [56]:
new_array =  {
    'Name': ['John', 'Anna', None, 'Linda'],
    'Age': [28, None, 35, 32],
    'City': ['New York', 'Paris', 'Berlin', None]
}
new_df = pd.DataFrame(new_array)
print(new_df.isnull())
print("\nCount of missing values in each column:\n\n", new_df.isnull().sum())

    Name    Age   City
0  False  False  False
1  False   True  False
2   True  False  False
3  False  False   True

Count of missing values in each column:

 Name    1
Age     1
City    1
dtype: int64

In [ ]:
'''
Handling Missing Data
* df.dropna() --> removes rows with any missing values
In (), we can specify :
  * axis = 1 to drop columns with missing values instead of rows
  * how = 'all' to drop only if all values are missing
  * value = some_value to fill missing values with a specified value
* df.fillna(value, inplace = True) --> fills missing values with the specified value, inplace=True modifies the original DataFrame

'''

In [57]:
handle_df = {
    'Name': ['John', 'Anna', None, 'Linda'],
    'Age': [28, None, 35, 32],
    'City': ['New York', 'Paris', 'Berlin', None]
}

df_handle = pd.DataFrame(handle_df)
print("\nOriginal DataFrame with missing values:\n\n", df_handle)

df_dropped = df_handle.dropna()  # Dropping rows with any missing values
print("\nDataFrame after dropping rows with missing values:\n\n", df_dropped)

df_filled = df_handle.fillna(0, inplace = False)  
print("\nDataFrame after filling missing values with 0:\n\n", df_filled)

# we can also use different strategies for filling missing values like mean, median, mode etc.
df_filled1 = df_handle.fillna({'Name': 'Unknown','Age': df_handle['Age'].mean(), 'City' : 'Unknown'}, inplace = False)
print("\nDataFrame after filling missing values with different strategies:\n\n", df_filled1)

#changing data type after filling missing values
df_filled1['Age'] = df_filled1['Age'].astype(int)
print("\nDataFrame after converting 'Age' to integer type:\n\n", df_filled1) 
print("\n\n#can be converted earlier too")

Original DataFrame with missing values:

     Name   Age      City
0   John  28.0  New York
1   Anna   NaN     Paris
2   None  35.0    Berlin
3  Linda  32.0      None

DataFrame after dropping rows with missing values:

    Name   Age      City
0  John  28.0  New York

DataFrame after filling missing values with 0:

     Name   Age      City
0   John  28.0  New York
1   Anna   0.0     Paris
2      0  35.0    Berlin
3  Linda  32.0         0

DataFrame after filling missing values with different strategies:

       Name        Age      City
0     John  28.000000  New York
1     Anna  31.666667     Paris
2  Unknown  35.000000    Berlin
3    Linda  32.000000   Unknown

DataFrame after converting 'Age' to integer type:

       Name  Age      City
0     John   28  New York
1     Anna   31     Paris
2  Unknown   35    Berlin
3    Linda   32   Unknown


#can be converted earlier too

In [ ]:
''' 
Interpolation :- It basically fills the missing values in a column by estimating them based on other available data points in the same column.
* df['column_name] = df['column_name'].interpolate(method='linear') --> fills missing values in the specified column using linear interpolation.
- methods maybe 'linear', 'time', 'index', 'nearest', 'zero', 'slinear', 'quadratic', 'cubic' etc.

'''

In [58]:
Inter_array = {
    'Name': ['John', 'Anna', 'Peter', 'Linda', 'Mike'],
    'Age': [28, None, 35, None, 40],
    'City': ['New York', 'Paris', 'Berlin', 'London', 'Tokyo']
}
inter_df = pd.DataFrame(Inter_array)
print("\nOriginal DataFrame with missing values:\n\n", inter_df)
inter_df['Age'] = inter_df['Age'].interpolate(method='linear')  # Filling missing values in 'Age' using linear interpolation
inter_df['Age'] = inter_df['Age'].astype(int)
print("\nDataFrame after interpolating missing 'Age' values:\n\n", inter_df)

Original DataFrame with missing values:

     Name   Age      City
0   John  28.0  New York
1   Anna   NaN     Paris
2  Peter  35.0    Berlin
3  Linda   NaN    London
4   Mike  40.0     Tokyo

DataFrame after interpolating missing 'Age' values:

     Name  Age      City
0   John   28  New York
1   Anna   31     Paris
2  Peter   35    Berlin
3  Linda   37    London
4   Mike   40     Tokyo

In [ ]:
'''
Sorting
df.sort_values(by='column_name', ascending = True/False, inplace=True)  # Sorting the specified column , True for ascending, False for descending
for multiple columns we can pass a list of column names in by = []
df.sort_values(by=['column1', 'column2'], ascending=[True(for column1), False(for column2)], inplace=True)

'''

In [59]:
sort_array = {
    'Name': ['John', 'Anna', 'Peter', 'Linda'],
    'Age': [28, 24, 35, 32],
    'Salary': ['50000', '46000', '60000', '40000']
}
sort_df = pd.DataFrame(sort_array)
print("\nOriginal DataFrame before sorting:\n\n", sort_df)
sort_df.sort_values(by='Age', ascending=True, inplace=True)  # Sorting by 'Age' in ascending order
print("\nDataFrame sorted by 'Age' in ascending order:\n\n", sort_df)
sort_df.sort_values(by = ['Age','Salary'], ascending=[True, False], inplace=True)
print("\nDataFrame sorted by 'Age' (asc) and 'Salary' (desc):\n\n", sort_df)

Original DataFrame before sorting:

     Name  Age Salary
0   John   28  50000
1   Anna   24  46000
2  Peter   35  60000
3  Linda   32  40000

DataFrame sorted by 'Age' in ascending order:

     Name  Age Salary
1   Anna   24  46000
0   John   28  50000
3  Linda   32  40000
2  Peter   35  60000

DataFrame sorted by 'Age' (asc) and 'Salary' (desc):

     Name  Age Salary
1   Anna   24  46000
0   John   28  50000
3  Linda   32  40000
2  Peter   35  60000

In [ ]:
'''
Grouping : It is used to group data based on one or more columns and perform aggregate functions on those groups.
df.groupby('column_to_be_based_On')['column_to_Operate_Calculations'].agg_function() --> this will group the DataFrame by the specified column and then apply the aggregate function on another column.
a list can also be passed in agg_function to perform multiple aggregations and also on the column_to_be_based_On 

'''

In [60]:
Grouped_array = {
    'Department': ['HR', 'Finance', 'IT', 'HR', 'Finance', 'IT'],
    'Age': [28, 34, 28, 34, 30, 30],
    'Salary': [50000, 60000, 55000, 52000, 62000, 58000]
}
grouped_df = pd.DataFrame(Grouped_array)
print("\nOriginal DataFrame for grouping:\n\n", grouped_df)

grouped_Salary = grouped_df.groupby('Age')['Salary'].sum() # Summing salaries grouped by 'Age'
print("\nSum of Salaries grouped by 'Age':\n\n", grouped_Salary)

grouped_Salary = grouped_df.groupby(['Department', 'Age'])['Salary'].sum() # Summing salaries grouped by 'Department' and 'Age'
print("\nSum of Salaries grouped by 'Department' and 'Age':\n\n", grouped_Salary)

Original DataFrame for grouping:

   Department  Age  Salary
0         HR   28   50000
1    Finance   34   60000
2         IT   28   55000
3         HR   34   52000
4    Finance   30   62000
5         IT   30   58000

Sum of Salaries grouped by 'Age':

 Age
28    105000
30    120000
34    112000
Name: Salary, dtype: int64

Sum of Salaries grouped by 'Department' and 'Age':

 Department  Age
Finance     30     62000
            34     60000
HR          28     50000
            34     52000
IT          28     55000
            30     58000
Name: Salary, dtype: int64

In [ ]:
''' 
Merging and Joining
* pd.merge(df1, df2, on='common_column', how='inner/left/right/outer') --> merges two DataFrames based on a common column using the specified join method
'''

In [61]:
data1 = {
    'EmployeeID': [1, 2, 3, 4],
    'Name': ['John', 'Anna', 'Peter', 'Linda']
}
data2 = {
    'EmployeeID': [3, 4, 5, 6],
    'Salary': [55000, 60000, 65000, 70000]
    }
daf1 = pd.DataFrame(data1)
daf2 = pd.DataFrame(data2)

inner_merged = pd.merge(daf1, daf2, on='EmployeeID', how='inner')  # Inner join on 'EmployeeID' and gives only matching records
print("\nInner Merged DataFrame:\n\n", inner_merged)

outer_merged = pd.merge(daf1, daf2, on='EmployeeID', how='outer')  # Outer join on 'EmployeeID' and gives all records
print("\nOuter Merged DataFrame:\n\n", outer_merged)

left_merged = pd.merge(daf1, daf2, on='EmployeeID', how='left')  # Left join on 'EmployeeID' and gives all records from df1
print("\nLeft Merged DataFrame:\n\n", left_merged)

right_merged = pd.merge(daf1, daf2, on='EmployeeID', how='right')  # Right join on 'EmployeeID' and gives all records from df2
print("\nRight Merged DataFrame:\n\n", right_merged)

Inner Merged DataFrame:

    EmployeeID   Name  Salary
0           3  Peter   55000
1           4  Linda   60000

Outer Merged DataFrame:

    EmployeeID   Name   Salary
0           1   John      NaN
1           2   Anna      NaN
2           3  Peter  55000.0
3           4  Linda  60000.0
4           5    NaN  65000.0
5           6    NaN  70000.0

Left Merged DataFrame:

    EmployeeID   Name   Salary
0           1   John      NaN
1           2   Anna      NaN
2           3  Peter  55000.0
3           4  Linda  60000.0

Right Merged DataFrame:

    EmployeeID   Name  Salary
0           3  Peter   55000
1           4  Linda   60000
2           5    NaN   65000
3           6    NaN   70000

In [ ]:
'''
Concatenation
* pd.concat([df1, df2], axis=0/1, ignore_index=True/False) --> concatenates two DataFrames either row-wise (axis=0) or column-wise (axis=1). ignore_index=True resets the index in the resulting DataFrame.
'''

In [62]:
row_concat = pd.concat([daf1, daf2], axis=0, ignore_index=True)  # Row-wise concatenation of daf1 and daf2 with reset index
print("\nRow-wise Concatenated DataFrame:\n\n", row_concat)

column_concat = pd.concat([daf1, daf2], axis=1, ignore_index=True) # Column-wise concatenation of daf1 and daf2 with reset index
print("\nColumn-wise Concatenated DataFrame:\n\n", column_concat)

Row-wise Concatenated DataFrame:

    EmployeeID   Name   Salary
0           1   John      NaN
1           2   Anna      NaN
2           3  Peter      NaN
3           4  Linda      NaN
4           3    NaN  55000.0
5           4    NaN  60000.0
6           5    NaN  65000.0
7           6    NaN  70000.0

Column-wise Concatenated DataFrame:

    0      1  2      3
0  1   John  3  55000
1  2   Anna  4  60000
2  3  Peter  5  65000
3  4  Linda  6  70000